{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/css.css" rel="stylesheet" type="text/css" />

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #060606;
    background-size: cover;
}

</style>

<body>
<div class="container">
	<ul class="menu">
		<li><a href="#">回主页</a></li>
		<li><a href="#">书名切换</a>
			<ul class="submenu">
				<li><a href="#">飞狐外传</a></li>
				<li><a href="#">雪山飞狐</a></li>
				<li><a href="#">连城诀</a></li>
				<li><a href="#">天龙八部</a></li>
				<li><a href="#">射雕英雄传</a></li>
				<li><a href="#">白马啸西风</a></li>
				<li><a href="#">鹿鼎记</a></li>
				<li><a href="#">笑傲江湖</a></li>
                <li><a href="#">书剑恩仇录</a></li>
                <li><a href="#">神雕侠侣</a></li>
                <li><a href="#">侠客行</a></li>
                <li><a href="#">倚天屠龙记</a></li>
                <li><a href="#">碧血剑</a></li>
                <li><a href="#">鸳鸯刀</a></li>

			</ul>
		</li>
		<li class="active"><a href="#s2">菜单二</a>
			<ul class="submenu">
				<li><a href="#">子菜单A</a></li>
				<li><a href="#">子菜单B</a></li>
				<li><a href="#">子菜单C</a></li>
				<li><a href="#">子菜单D</a></li>
				<li><a href="#">子菜单E</a></li>
				<li><a href="#">子菜单F</a></li>
				<li><a href="#">子菜单G</a></li>
				<li><a href="#">子菜单H</a></li>
			</ul>
		</li>
		<li><a href="#">菜单三</a>
			<ul class="submenu">
				<li><a href="#">子菜单A</a></li>
				<li><a href="#">子菜单B</a></li>
				<li><a href="#">子菜单C</a></li>
				<li><a href="#">子菜单D</a></li>
				<li><a href="#">子菜单E</a></li>
				<li><a href="#">子菜单F</a></li>
				<li><a href="#">子菜单G</a></li>
				<li><a href="#">子菜单H</a></li>
			</ul>
		</li>
		<li><a href="#">菜单四</a></li>

	</ul>
</div>
   <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">


  <source src="../static/video/gfp-astro-timelapse.mp4" type="video/mp4">

</video>
<div id="map" style="width:1400px;height:800px;"></div>

<script src="../static/js/dist.js"></script>

<script>

    let data = {{ data|safe }}

    var map = document.querySelector('#map');
    console.log(new RelationChart(map,data))
</script>
</body>
</html>