{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{#            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}

    <link href="../static/css/css2.css" rel="stylesheet" type="text/css" />
        <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #060606;
    background-size: cover;
}

</style>

<body>
<script>



</script>

<div class="container">
	<ul class="menu">
		<li><a href="{% url 'index' %}">回主页</a></li>
		<li><a href="#">书名切换</a>
			<ul class="submenu">
				<li><a href="{% url 'relationship' "飞" %}">飞狐外传</a></li>
				<li><a href="{% url 'relationship' "雪" %}">雪山飞狐</a></li>
				<li><a href="{% url 'relationship' "连" %}">连城诀</a></li>
				<li><a href="{% url 'relationship' "天" %}">天龙八部</a></li>
				<li><a href="{% url 'relationship' "射" %}">射雕英雄传</a></li>
				<li><a href="{% url 'relationship' "白" %}">白马啸西风</a></li>
				<li><a href="{% url 'relationship' "鹿" %}">鹿鼎记</a></li>
				<li><a href="{% url 'relationship' "笑" %}">笑傲江湖</a></li>
                <li><a href="{% url 'relationship' "书" %}">书剑恩仇录</a></li>
                <li><a href="{% url 'relationship' "神" %}">神雕侠侣</a></li>
                <li><a href="{% url 'relationship' "剑" %}">侠客行</a></li>
                <li><a href="{% url 'relationship' "倚" %}">倚天屠龙记</a></li>
                <li><a href="{% url 'relationship' "碧" %}">碧血剑</a></li>
                <li><a href="{% url 'relationship' "鸳" %}">鸳鸯刀</a></li>

			</ul>
		</li>
		<li class="active"><a href="#s2">聚焦</a>
			<ul class="submenu">
				<li><a href="#">子菜单A</a></li>
				<li><a href="#">子菜单B</a></li>
				<li><a href="#">子菜单C</a></li>
				<li><a href="#">子菜单D</a></li>
				<li><a href="#">子菜单E</a></li>
				<li><a href="#">子菜单F</a></li>
				<li><a href="#">子菜单G</a></li>
				<li><a href="#">子菜单H</a></li>
			</ul>
		</li>
		<li><a href="#">搜索</a>
			<ul class="submenu">
				<li><a href="#">子菜单A</a></li>
				<li><a href="#">子菜单B</a></li>
				<li><a href="#">子菜单C</a></li>
				<li><a href="#">子菜单D</a></li>
				<li><a href="#">子菜单E</a></li>
				<li><a href="#">子菜单F</a></li>
				<li><a href="#">子菜单G</a></li>
				<li><a href="#">子菜单H</a></li>
			</ul>
		</li>
        <script>
            function transefer() {
                var inputDom = document.getElementById('text');
               var text=inputDom.value;

                $.ajax({
                   url: '{% url 'select'  %}',
                   type: 'POST',
                   data: {'name':text,'book':'{{book}}'},
                   success: function (data) {

                          alert(text);
                       var obj = window.open("about:blank");   //获取新页面的对象
        obj.document.write(str_response);       //POST获取的返回写入新页面对象
               }


               })
                alert('成功率');

            }


        </script>
        <form method="post" action="{% url 'select' %}">
		<div class="input-group">
      <input style="height: 50px" type="text" class="form-control" name="text" placeholder="查看单个人物关系" >
            <input value="{{ book }}" type="hidden" name="book">
      <span class="input-group-btn">
<input type="submit" value="submit" class="btn btn-primary btn-cube" style="background: #e7e5e1;width: 80px;height: 50px">      </span>
    </div>
</form>
	</ul>
</div>
   <video playsinline autoplay muted loop poster="polina.jpg" id="bgvid">


  <source src="../static/video/3.mp4" type="video/mp4">

</video>
<div id="map" style="width:1200px;height:800px;"></div>

<script src="../static/js/dist.js"></script>

<script>
    let Config = {
    width: 1500,                 // 总画布svg的宽,单位为px,默认为容器的宽
    height: 800,                // 高，默认为容器的高
    isHighLight: true,        // 是否启动 鼠标 hover 到节点上高亮与节点有关的节点，其他无关节点透明的功能
    isScale: true,              // 是否启用缩放平移zoom功能
    scaleExtent: [0.5, 1.5],    // 缩放的比例尺
    chargeStrength: 100,        // 万有引力
    collide: 100,                 // 碰撞力的大小 （节点之间的间距）
    nodeWidth: 160,             // 每个node节点所占的宽度，正方形
    margin: 20,                 // node节点距离父亲div的margin
    alphaDecay: 0.0228,          // 控制力学模拟衰减率
    r: 45,                      // 头像的半径 [30 - 45]
    relFontSize: 12,           // 关系文字字体大小
    linkSrc: 30,                // 划线时候的弧度
    linkColor: '#bad4ed',        // 链接线默认的颜色
    strokeColor: '#7ecef4',     // 头像外围包裹的颜色
    strokeWidth: 3,             // 头像外围包裹的宽度
}

    let data = {{ data|safe }}

    var map = document.querySelector('#map');
    console.log(new RelationChart(map,data,Config))
</script>
</body>
</html>