{% extends "layout.html" %}
{% block body %}
     <div>
                                <img src="../static/img/飞.png" width="200" height="200" style="left:5%;top:20% ;position: absolute">

                                <img src="../static/img/雪.png" width="200" height="200" style="left:18%;top:20% ;position: absolute">

                                <img src="../static/img/连.png" width="200" height="200" style="left:31%;top:20% ;position: absolute">

                                <img src="../static/img/天.png" width="200" height="200" style="left:44%;top:20% ;position: absolute">

                                <img src="../static/img/射.png" width="200" height="200" style="left:57%;top:20% ;position: absolute">
                                <img src="../static/img/白.png" width="200" height="200" style="left:70%;top:20% ;position: absolute">

                                <img src="../static/img/鹿.png" width="200" height="200" style="left:83%;top:20% ;position: absolute">

                                <img src="../static/img/书.png" width="200" height="200" style="left:5%;top:50% ;position: absolute">

                                <img src="../static/img/笑.png" width="200" height="200" style="left:18%;top:50% ;position: absolute">
                                <img src="../static/img/神.png" width="200" height="200" style="left:31%;top:50% ;position: absolute">

                                <img src="../static/img/剑.png" width="200" height="200" style="left:44%;top:50% ;position: absolute">
                                <img src="../static/img/倚.png" width="200" height="200" style="left:57%;top:50% ;position: absolute">
                                <img src="../static/img/碧.png" width="200" height="200" style="left:70%;top:50% ;position: absolute">

                                <img src="../static/img/鸳.png" width="200" height="200" style="left:83%;top:50% ;position: absolute">


    </div>

{% endblock %}